@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    box-shadow: 2px 5px 5px rgb(223, 211, 211);
    display: flex;
    margin-bottom: 30px;
}

.opcoes {
    display: flex;
    font-weight: 700;
    color: #2c3e50;
   
}

#opcao {
    margin-left: 70px;
    margin-top: 30px;
    font-size: 23px;
    cursor: pointer;

}

#opcao:hover{
    color: blue;
  }

#logo {
    width: 150px;
    margin-left: 20px;
    margin-right: 520px;
}

#title{
    color: blue;
    font-weight: 700;
    text-align: center;
    padding: 30px;
}

.template_cadastro {
    width: 600px;
    margin: auto;
    display: none;
}

#borda{
    margin: auto;
    padding: 20px;
    box-shadow: 2px 5px 5px rgb(178, 169, 169);
    width: 800px;
    text-align: center;
     background-color: rgb(252, 252, 255); 
    font-size: 20px;
}

 .template_relatorio{
    display: none;
 }

 .template_venda{
    display: none;
    margin: auto;
    width: 600px;
 }

.carousel-inner{
    margin-bottom: 20px;
    margin-top: -20px;
}

#carouselExampleIndicators{
    display: block;
}

#borda_venda{
    margin: auto;
    padding: 20px;
    box-shadow: 2px 5px 5px rgb(178, 169, 169);
    width: 800px;
  
     background-color: rgb(252, 252, 255); 
    font-size: 20px;
}



#flex{
    display: flex;
    justify-content: flex-start;
}

#flex_descr{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: rgb(96, 92, 92);
}

#title_sacola{
    color: blue;
    font-weight: 700;
    padding: 12px;
}

.template_sacola{
    display: none;
}