@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    padding: 20px;
    box-shadow: 2px 5px 5px rgb(223, 211, 211);
    display: flex;
    margin-bottom: 50px;
}

.opcoes {
    display: flex;
}

#opcao {
    margin-left: 40px;
    margin-top: 15px;
    font-size: 25px;
    cursor: pointer;

}

img {
    width: 100px;
}

.template_cadastro {
    width: 600px;
    padding: 30px;
    margin: auto;
    display: none;
}

.template_relatorio{
    
    margin: auto;
    padding: 20px;
    box-shadow: 2px 5px 5px rgb(178, 169, 169);
    width: 800px;
    text-align: center;
     background-color: rgb(252, 252, 255); 
    font-size: 20px;
}

 .template_relatorio{
    display: none;
 }

 .template_venda{
    display: none;
 }